doctype
html
	head
		title lulla.be - make your family stories unforgetable
		include includes/_head

	body
		header
			include includes/_menu
			button(type="button").hamburger.hamburger--elastic.is-active
				span.hamburger-box
				span.hamburger-inner
		section.why
		section.what
		section.whom
		footer