doctype
html
	head
		title lulla.be - make your family stories unforgetable
		include includes/_head

	body
		header
			include includes/_menu
			button(type="button").hamburger.hamburger--elastic.is-active#menubutton
				span.hamburger-box
				span.hamburger-inner
				
			.leftside
				h1 lulla.be
				h2 make your family stories momorable
			
			.rightside
				include includes/_signups
			
			
		section.why
		section.what
		section.whom
		footer